@model IEnumerable<SiteManga.Models.Manga>
@{
    ViewData["Title"] = "Shop Page";
}

<div class="row">
    <div class="col-lg-3">

        <h1 class="my-4">Site Manga</h1>
        <div class="list-group">
            @foreach (var color in Enum.GetValues(typeof(Manga.Colors)))
            {
                <a href="#" class="list-group-item">@color</a>
            }
        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
        <div class="row">
            @foreach (Manga manga in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        @if (manga.Images.Count > 0)
                        {
                            <a href="@Url.Action("Details", "Manga", manga)"><img class="card-img-top" src="@Url.Content("~/images/"+manga.Images.First().Path)" alt=""></a>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", "Manga", manga)"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        }

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="@Url.Action("Details", "Manga", manga)">@manga.Name</a>
                            </h4>
                            <h5>@manga.Price€</h5>
                            <p class="card-text">@manga.ShortDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->